.body {
  margin: 0 auto;
  font-family: "Calibri", sans-serif;
}

.head {
  background-color: #e1e1e1;
  height: 155px;
  display: flex;
  align-items: center;
}

.orion {
  padding-left: 2%;
  width: 500px;
  height: 100px;
}

.login_button {
  font: normal normal normal 30px/37px "Calibri";
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #373a6f;
  border: 1px solid #707070;
  border-radius: 60px/ 50px;
  width: 250px;
  height: 75px;
  margin-left: 65%;
  background: #373a6f 0% 0% no-repeat padding-box;
  cursor: pointer;
}

.designer {
  height: 900px;
  display: flex;
  flex-direction: row;
}

.zera {
  position: relative;
  left: -350px;
  background: #373a6f;
  border: 1px solid #f5f5f5;
  height: 530px;
  width: 1000px;
  margin-top: 10%;
  border-radius: 65%;
}

.desc1 {
  padding-left: 400px;
  margin-top: 110px;
  margin-bottom: 0px;
  width: 450px;
  font: normal normal normal 60px/73px "Calibri";
  color: #ffffff;
  text-align: left;
}

.desc2 {
  margin: 25px;
  width: 450px;
  font: normal normal normal 30px/37px "Calibri";
  padding-left: 430px;
  color: #adadad;
}

.designers {
  width: 900px;
  height: 900px;
}

.enter {
  text-align: center;
  height: 75px;
  width: 250px;
  margin-left: 500px;
  color: #5d5d5d;
  font: normal normal normal 30px/37px "Calibri";
  border: 1px solid #707070;
  border-radius: 10px;
  cursor: pointer;
}

.useful {
  margin-top: 20px;
  height: 150px;
  display: flex;
  justify-content: center;
}

.withus {
  height: 140px;
  width: 1365px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: normal normal normal 60px/73px "Calibri";
  border: 1px solid #93478f;
  border-radius: 20px;
  background: #373a6f;
  color: #ffffff;
}

.courses {
  display: flex;
  justify-content: space-around;
  height: 750px;
}

.course {
  margin-top: 170px;
  height: 480px;
  width: 350px;
  border: 1px solid #707070;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.pages {
  width: 350px;
  height: 350px;
  padding-top: 10px;
  aspect-ratio: 16 / 9;
}

.pagesdesc {
  width: 280px;
  height: 70px;
  text-align: left;
  padding-left: 30px;
  font: normal normal normal 60px/73px "Calibri";
  letter-spacing: 0px;
  color: #010202;
}

.coursedesc {
  height: 1000px;
  display: flex;
}

.plan {
  height: 780px;
  width: 780px;
  margin-top: 100px;
}

.dlakogo {
  width: 810px;
  height: 930px;
  background: #373a6f 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  color: #ffffff;
  margin-left: 220px;
  padding-left: 110px;
}

.forwho1 {
  font: normal normal normal 60px/73px "Calibri";
}

.forwho2 {
  font: normal normal bold 30px/45px "Calibri";
}

.forwho3 {
  text-align: left;
  font: normal normal normal 30px/45px "Calibri";
  letter-spacing: 0px;
}

.aboutus {
  height: 800px;
  display: flex;
  justify-content: space-around;
}

.aboutus1 {
  text-align: left;
  font: normal normal normal 30px/45px "Calibri";
  letter-spacing: 0px;
  color: #323232;
}

.onas {
  font: normal normal normal 60px/73px "Calibri";
  letter-spacing: 0px;
  color: #373a6f;
  margin: 0px;
}

.aboutus2 {
  width: 430px;
  height: 630px;
  padding-top: 150px;
}

.aboutus3 {
  width: 430px;
  height: 630px;
  padding-top: 70px;
}

.useful1 {
  height: 200px;
  margin-top: 100px;
}

.head1 {
  justify-content: space-evenly;
}

.orion1 {
  padding-left: 0;
}

.container {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logowanie {
  width: 1560px;
  height: 700px;
  border: 1px solid #565656;
}
.top {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: normal normal normal 80px/97px Calibri;
}

.mid {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.data {
  width: 475px;
  height: 60px;
  border: 1px solid #707070;
  border-radius: 10px;
  font: normal normal normal 25px/31px Calibri;
  letter-spacing: 0px;
  color: #8d8989;
  opacity: 1;
  text-align: left;
  padding-left: 10px;
}

.login_button1 {
  width: 475px;
  height: 60px;
  margin-left: 0px;
  border-radius: 10px;
  padding: 1px;
}

.login_button_in_registration {
  width: 475px;
  height: 60px;
  margin-left: 0px;
  border-radius: 10px;
  padding: 1px;
  margin-top: 260px;
}

.center {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.divider {
  height: 125px;
  width: 0px;
  border: 2px solid #707070;
  opacity: 1;
}

.right {
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.data1 {
  font: normal normal normal 25px/31px Calibri;
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;
  background: #ffffff;
}

.small {
  height: 50px;
  width: 50px;
  margin-right: 10%;
  margin-left: 10%;
}

.bot {
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.acc {
  text-align: center;
  font: normal normal bold 30px/31px Calibri;
  letter-spacing: 0px;
  color: #00000061;
}

.reg {
  text-align: center;
  font: normal normal bold 30px/31px Calibri;
  letter-spacing: 0px;
  color: #a04a9c;
  background: none;
  border: none;
  cursor: pointer;
}
.orion1 {
  position: relative;
  right: 26px;
}

.bigbox {
  display: flex;
  height: 650;
}

.des {
  height: 650px;
}

.progress {
  height: 200px;
  width: 960px;
}

.greeting {
  height: fit-content;
  width: 960px;
}

.hello {
  font: normal normal normal 60px/73px Calibri;
  padding-left: 100px;
}

.road {
  font: normal normal normal 30px/37px Calibri;
  padding-left: 100px;
}

.ux {
  width: 960px;
  height: fit-content;
}

.minds {
  height: 85%;
  width: 85%;
}

.plug {
  height: 300px;
  width: 100%;
}

.steps {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.step {
  width: 270px;
  height: 375px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 20px;
  display: grid;
  justify-content: center;
}

.krok {
  height: 50px;
  width: 170px;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 30px;
  text-align: center;
  font: normal normal normal 25px/31px Calibri;
  letter-spacing: 0px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krok:hover {
  color: #888888;
}

#krok1 {
  background: #ff4f5a 0% 0% no-repeat padding-box;
}

#krok2 {
  background: #ff735c 0% 0% no-repeat padding-box;
}

#krok3 {
  background: #ffc801 0% 0% no-repeat padding-box;
}

#krok4 {
  background: #0062d1 0% 0% no-repeat padding-box;
}

.sci {
  font: normal normal normal 50px/63px Calibri;
  margin-top: 30px;
  margin-left: 25px;
  margin-bottom: 0px auto;
}

.time {
  font: normal normal normal 25px/31px Calibri;
  color: #707070;
  margin-top: 140px;
  margin-left: 25px;
  width: fit-content;
  height: fit-content;
}

.plug2 {
  height: 30px;
  width: 100%;
}

.userimage {
  cursor: pointer;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0;
  border: none;
  background: none;
}

.headerAllocation {
  align-items: space-between;
  justify-content: space-between;
}
.headerMain {
  background-color: #e1e1e1;
  height: 155px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.centerLogo {
  justify-content: center;
  align-items: center;
}

.introduction {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
}

.progressPanel {
  flex: 2;
  justify-content: center;
}

.introductionContent {
  flex: 7;
  justify-content: center;
}
.containerContent {
  height: 950px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.containerInCzesc {
  height: 850px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuElement {
  background-color: #ff5970;
}
.videoFrame {
  flex: 1;
  justify-content: center;
}
.progressBar {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}
.backgroundColorMenu {
  background-color: #223322;
}
.userProfil {
  display: -webkit-box;
  height: 40%;
  width: 20%;
  margin-left: 100px;
  margin-top: 100px;
}
.czescBartosz {
  flex-direction: row;
  flex: 1;
}
